<% @albums.each do |album| %>
  <a href="<%= album_path(album) %>">
    <div class="album" style="background-image:url(<%= album.image %>)">
      <div class="darken"></div>
      <div class="album-content">
        <%= album.artist %>
        <br>
        <%= number_to_currency album.price %>
      </div>
    </div>
  </a>
<% end %>
