/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.my-content {
  margin: 3em 0;
}

.alert {
  color: red;
  padding: 0;
}
.notice {
  color: green;
  padding: 0;
}

h1, h2, h3, h4 {
  padding-top: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 1em;
  width: 100%;
  border: none;
  border-bottom: solid 1px #ccc;
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  margin: 1em 0;
  background-color: white;
  border: solid 1px #333;
}

 #albums {
    .album {
      margin-bottom: 0.75em;
      &:nth-child(even) {
        background-color: #e8e8e8;
      }
      .album-image-div {
        width: 80px;
        display: inline-block;
        img {
          width: 100%;
        }
      }
      .album-info-div {
        display: inline-block;
        vertical-align: top;
      }
   }
 }

#catalog-nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: solid 1px #333;
  position: sticky;
  li {
    display: inline;
  }
}
