/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

:root {
  --list-img-div-width: 80px;
}

.my-content {
  margin: 3em 0;
}

.alert {
  color: red;
  padding: 0;
}
.notice {
  color: green;
  padding: 0;
}

.top-nav-bar {
  display: block;
  width: 100%;
  border-bottom: solid 1px #333;
  padding: 1em 0;
  ul {
    li {
      display: inline;
      float: right;
      margin-left: 1em;
      &:first-child {
        float: left;
        margin-left: 0;
      }
    }
  }
}



.order-item {
  padding: 0.5em;
  border-bottom: solid 1px #333;
  &:nth-of-type(even) {
    background-color: #e8e8e8;
  }
  p {
    width: auto;
    display: inline-block;
  }
  .order-item-total {
    float: right;
    clear: both;
  }
  .delete {
    color: red;
    margin-right: 1em;
  }
}

input {
  &:focus {
    outline: none;
  }
}

h1, h2, h3, h4 {
  padding-top: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 1em;
  width: 100%;
  border: none;
  border-bottom: solid 1px #ccc;
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  margin: 1em 0;
  background-color: white;
  border: solid 1px #333;
}

.my-nav {
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
}

#catalog-nav {
  padding: 0.75em 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 10;
  li {
    display: inline;
    margin-left: 0.5em;
    a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }
  #search-li {
    background-color: red;
    form {
      display: inline;
      input[type="text"] {
        border: none;
        padding: 4px;
        margin-bottom: 0;
        width: 100px;
        color: #333;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

#albums {
  margin: 2em 0;
  .album {
    border-bottom: solid 1px #333;
    margin-bottom: 0.75em;
    &:nth-child(even) {
      background-color: #e8e8e8;
    }
    .album-image-div {
      width: var(--list-img-div-width);
      display: inline-block;
      margin-right: 1em;
      img {
        width: 100%;
      }
    }
    .album-info-div {
      display: inline-block;
      vertical-align: top;
      position: relative;
      // the width of this div is dependent upon the with of the album image
      width: calc(100% - var(--list-img-div-width) - 2em);
      .cart-form {
        position: absolute;
        top: 5px;
        right: 0;
      }
    }
  }
}
.cart {
  cursor: pointer;
  height: 2em;
  padding: 5px;
}
