/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.my-content {
  margin: 3em 0;
}

.alert {
  color: red;
  padding: 0;
}
.notice {
  color: green;
  padding: 0;
}

h1, h2, h3, h4 {
  padding-top: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 1em;
  width: 100%;
  border: none;
  border-bottom: solid 1px #ccc;
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  margin: 1em 0;
  background-color: white;
  border: solid 1px #333;
}

.album {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
  min-width: 150px;
  min-height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:hover .darken {
    opacity: 1;
  }
  &:hover .album-content {
    opacity: 1;
  }
  .darken {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height:100%;
    z-index: 0;
    opacity: 0;
    transition: all 0.25s;
  }
  .album-content {
    z-index: 2;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0.25em;
    opacity: 0;
    transition: all 0.25s;
    width: 100%;
    input {
      color: black;
    }
  }
}
